@model Core.DTOs.ProductDto;

<div class="col">
    <div class="card h-100">
        <img src="https://cdn.shopify.com/s/files/1/0070/7032/files/image5_4578a9e6-2eff-4a5a-8d8c-9292252ec848.jpg?v=1620247043" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">
                @Model.CategoryName
                @Model.Price$
            </p>
            <a asp-controller="Cart" asp-action="Add" asp-route-productId="@Model.Id" class="btn btn-outline-primary">Add to Cart</a>
        </div>
    </div>
</div>